<div class="row">
	<div class="col-md-6 offset-md-3">
		<h1>Forgot Password?</h1>
		<%= form_for(:password_reset, url: password_resets_path) do |f|%>
		  	<div class="form-group">
				<%= f.text_field :email, placeholder: "Please enter your email", class: "form-control" %>
			</div>
			<%= f.submit "Submit", class: "btn btn-primary" %>
		<% end %>
	</div>	
</div>