<%= form_for(:follow, url: unfollow_path, method: :delete, remote: true) do |f|%>
    <%= f.hidden_field :followed_id, value: user.id %>
    <button class="btn btn-danger">
        Unfollow
    </button>
<% end %>