<%= form_for(:like, url: unlike_path, method: :delete, remote: true) do |f| %>
    <%= f.hidden_field :post_id, value: post_id %>
    <button type="submit">
        <i class="fa fa-heart"></i>
    </button>
    <%= count%>
<% end %>
